html {
    font-family: Helvetica, sans-serif;
    color: seashell;
    background-color: black;        
}

header {
    display: grid;
    align-content: center;
    width: 100%;
    height: 4.2708333125rem;    
    position: fixed;
    z-index: 1;
    background-color: black;    
    opacity: 0.9;    
    border-bottom: 1px solid seashell;
    align-items: center;
}

nav {
    display: grid;
    grid-template-columns: 1fr 6fr;          
}

nav ul {
    justify-self: end;
    align-self: center;
}

li {
    margin-right: 1.375rem;
    display: inline-block;
    text-decoration: underline;
    font-size: 1.375rem;
}

#li-last {
    margin-right: 0.625rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

h4, h5 {
    font-size: 1.2rem;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
}

.logo {
    align-self: center;
    height: 3.125rem;
    width: auto;
    margin-left: 0.625rem;
}

.landing {
    display: grid;
    grid-template-rows: 3fr 1fr 3fr;
    position: relative;
    top: 4.3125rem;
    width: 75rem;
    height: 43.75rem;    
    margin-left: auto;
    margin-right: auto;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
}

.mission {
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    display: grid;    
}

.mission h2 {
    margin-top: 1rem;
    align-self: start;
}

.mission h4 {
    margin-bottom: 1rem;    
    align-self: end;
}

.tea-month {
    width: 62.5rem;
    height: auto;
    margin: 2rem auto 5rem auto;    
    display: grid;
    grid-template: 1fr 2fr 2fr / 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 2rem;
    justify-items: center;
    align-items: center;
    position: relative;
    top: 4.3125rem;    
}

.tea-month .title {
    grid-area: 1 / 1 / 2 / span 6;
    text-align: center;
}

.tea-month h2 {
    margin-bottom: 1.5rem;
}

.tea-month h5 {
    margin-top: 0.625rem;
    text-align: center;
}

.tea-month .berry {
    grid-area: 2 / 1 / 3 / 3;
}

.tea-month .rum {
    grid-area: 2 / 3 / 3 / 5;
}

.tea-month .donuts {
    grid-area: 2 / 5 / 3 / 7;
}

.tea-month .myrtle {
    grid-area: 3 / 2 / 4 / 4;
}

.tea-month .bizarre {
    grid-area: 3 / 4 / 4 / 6;
}

.tea-month img {
    width: 18.75rem;
    height: 12.5rem;
}

.locations {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 2.5rem;
    position: relative;
    top: 4.3125rem;  
    width: 75rem;
    height: 31.25rem;
    margin-right: auto;
    margin-left: auto;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;      
}

.locations h2 {
    text-align: center;        
    grid-area: 1 / 1 / 2 / 6;
    align-self: end;
    margin-bottom: 0.9375rem;
}

.locations h3 {
    margin: 2rem auto;
    text-align: center;
}

.locations p {
    margin: 2rem auto;
    text-align: center;
}

#loc-1, #loc-2, #loc-3 {
    width: 18.75rem;
    display: inline-block;
    background-color: black;            
}

#loc-1 {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
}

#loc-2 {
    grid-area: 2 / 3 / 3 / 4;
    justify-self: center;
}

#loc-3 {
    grid-area: 2 / 4 / 3 / 5;
    justify-self: center;
}

footer {
    position: relative;
    top: 4.3125rem; 
    height: 12.5rem;
}

footer h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem auto 2rem auto;
}

footer h5 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    font-weight: bold;
}

footer h6 {
    font-weight: bold;
    text-align: left;
    margin-bottom: 2rem;    
    margin-left: 1.25rem;
}

#contact {
    height: 12.5rem;
}

#phone {
    margin-bottom: 3rem;
}